# Pandas Introduction

## Reading files into DataFrames

In Pandas, data is accessed through a [DataFrame](https://pandas.pydata.org/pandas-docs/stable/dsintro.html#dataframe). A DataFrame is a 2D data structure where each column may contain different data types, from numeric series to complex structures. In most cases, you can think on DataFrames as _tables_.

The [IO API](https://pandas.pydata.org/pandas-docs/stable/io.html) has different methods to read different formats, most common one is text-delimited files:

In [1]:
import pandas as pd
data = pd.read_csv("./data/goog.csv")

From this point we can access the data using different methods. For instance, `head(n)` will retrieve the first `n` columns:

In [2]:
data.head(2)

,Date,Open,High,Low,Close,Volume,Adj Close
0,2016-07-01,692.200012,700.650024,692.130005,699.210022,1342700,699.210022
1,2016-06-30,685.469971,692.320007,683.650024,692.099976,1590500,692.099976

DataFrame also allows _range_ expressions:

In [3]:
data[5:7]

,Date,Open,High,Low,Close,Volume,Adj Close
5,2016-06-24,675.169983,689.400024,673.450012,675.219971,4399800,675.219971
6,2016-06-23,697.450012,701.950012,687.000000,701.869995,2157400,701.869995

Single row access is done using `iloc` attribute:

In [4]:
data.iloc[5]

Date         2016-06-24
Open             675.17
High              689.4
Low              673.45
Close            675.22
Volume          4399800
Adj Close        675.22
Name: 5, dtype: object

In [5]:
data.iloc[5].Open

675.169983

All methods and attributes a DataFrame supports can be checked in the [API documentation](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html)

### Data formats and compression

Pandas can read and write multiple data formats, using `read_X` and `to_X` methods. Parameters are described in the [IO API documentation](https://pandas.pydata.org/pandas-docs/stable/io.html).

One of the popular formats is [PyArrow](https://arrow.apache.org/docs/python/pandas.html), that has relatively good integration with Pandas. Normally, you will be interested to use a binary column-oriented format called [Feather](https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#feather), created from the Arrow project.

In [6]:
data = pd.read_feather('./data/goog.feather')
data.dtypes

Date          object
Open         float64
High         float64
Low          float64
Close        float64
Volume         int64
Adj Close    float64
dtype: object

Notice that the index was lost when saving the data. You may want to create it again by doing:

In [7]:
data_indexed = data.set_index('Date')
data_indexed.head(1)

,Open,High,Low,Close,Volume,Adj Close
Date,,,,,,
2016-07-01,692.200012,700.650024,692.130005,699.210022,1342700,699.210022

Similarly, you can write Feather files using `to_feather` function. Remember to drop the index first:

In [8]:
data = pd.read_csv("./data/goog.csv", index_col=0)
data.reset_index().to_feather('data/goog.feather')

Pandas also accepts compressed files, for instance in `gzip` format:

In [9]:
data = pd.read_csv('./data/goog.csv.gz')
data.head(1)

,Date,Open,High,Low,Close,Volume,Adj Close
0,2016-07-01,692.200012,700.650024,692.130005,699.210022,1342700,699.210022

Remember that you don't need anything fancy to compress files, just use shell tools:

```
$ gzip -9 data_file.csv
```

## Accessing Data

### Column Indexing

By default, `read_csv` will not assume any index in the data. In our case we have a _natural_ index in the first column, so we can read the file again to make sure it's incorporated in the DataFrame:

In [10]:
data = pd.read_csv("./data/goog.csv", index_col=0)
data.head(2)

,Open,High,Low,Close,Volume,Adj Close
Date,,,,,,
2016-07-01,692.200012,700.650024,692.130005,699.210022,1342700,699.210022
2016-06-30,685.469971,692.320007,683.650024,692.099976,1590500,692.099976

And then we can use range expressions to fetch _years_:

In [11]:
data["2016":"2015"].head(2)

,Open,High,Low,Close,Volume,Adj Close
Date,,,,,,
2015-12-31,769.500000,769.500000,758.340027,758.880005,1489600,758.880005
2015-12-30,776.599976,777.599976,766.900024,771.000000,1293300,771.000000

Or _month_ ranges:

In [12]:
data["2015-12":"2015-11"].head(2)

                  Open        High        Low       Close   Volume   Adj Close
Date
2015-11-30  748.809998  754.929993  741.27002  742.599976  2097600  742.599976
2015-11-27  748.460022  753.409973  747.48999  750.260010   838500  750.260010

### Adding or removing columns

In [13]:
data["Diff"] = data.Close - data.Open
data[["Open", "Close", "Diff"]].head(2)

                  Open       Close      Diff
Date
2016-07-01  692.200012  699.210022  7.010010
2016-06-30  685.469971  692.099976  6.630005

In [14]:
del data["Diff"]
data.columns

Index(['Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close'], dtype='object')

### Multi-Indexes

Pandas is able to treat data that has indexes in multiple levels. For instance, the `prices.csv` data set has two initial columns with the stock symbol and the date of the prices. That's described in [Hierarchical indexing](https://pandas.pydata.org/pandas-docs/stable/advanced.html#advanced-hierarchical) documentation.

In [15]:
pd.read_csv('./data/prices.csv').head(2)

  Symbol        Date    Close     High    Low     Open     Volume
0   aapl  2010-01-01  30.1046  30.4786  30.08  30.4443          0
1   aapl  2010-01-04  30.5729  30.6429  30.34  30.5000  123432050

We can easily tell Pandas that first two columns are the index by using the `index_col` parameter. Let's create a data frame named `prices`, containing price data for several stocks in a time range.

In [16]:
prices = pd.read_csv('./data/prices.csv', index_col=[0,1])
prices.head(5)

                     Close     High      Low     Open     Volume
Symbol Date
aapl   2010-01-01  30.1046  30.4786  30.0800  30.4443          0
       2010-01-04  30.5729  30.6429  30.3400  30.5000  123432050
       2010-01-05  30.6257  30.7986  30.4643  30.6843  150476004
       2010-01-06  30.1386  30.7471  30.1071  30.6257  138039594
       2010-01-07  30.0829  30.2857  29.8643  30.2400  119282324

In [17]:
prices.index

MultiIndex([('aapl', '2010-01-01'),
            ('aapl', '2010-01-04'),
            ('aapl', '2010-01-05'),
            ('aapl', '2010-01-06'),
            ('aapl', '2010-01-07'),
            ('aapl', '2010-01-08'),
            ('aapl', '2010-01-11'),
            ('aapl', '2010-01-12'),
            ('aapl', '2010-01-13'),
            ('aapl', '2010-01-14'),
            ...
            ('tsla', '2018-06-06'),
            ('tsla', '2018-06-07'),
            ('tsla', '2018-06-08'),
            ('tsla', '2018-06-11'),
            ('tsla', '2018-06-12'),
            ('tsla', '2018-06-13'),
            ('tsla', '2018-06-14'),
            ('tsla', '2018-06-15'),
            ('tsla', '2018-06-18'),
            ('tsla', '2018-06-19')],
           names=['Symbol', 'Date'], length=7600)

To query for a particular index, you can use `get_level_values` function and `isin`:

In [18]:
msft = prices[prices.index.get_level_values('Symbol').isin(['msft'])]
msft.head()

                    Close   High    Low   Open    Volume
Symbol Date
msft   2010-01-01  30.480  30.99  30.48  30.98         0
       2010-01-04  30.950  31.10  30.59  30.65  38414185
       2010-01-05  30.960  31.10  30.64  30.87  49758862
       2010-01-06  30.770  31.08  30.52  30.88  58182332
       2010-01-07  30.452  30.70  30.19  30.61  50564285

Also, `query` method is also available for multi-indexes:

In [19]:
prices.query('Symbol == "msft"').head()

                    Close   High    Low   Open    Volume
Symbol Date
msft   2010-01-01  30.480  30.99  30.48  30.98         0
       2010-01-04  30.950  31.10  30.59  30.65  38414185
       2010-01-05  30.960  31.10  30.64  30.87  49758862
       2010-01-06  30.770  31.08  30.52  30.88  58182332
       2010-01-07  30.452  30.70  30.19  30.61  50564285

Once filtering is done, you might want to drop `Symbol` index:

In [20]:
msft.index = msft.index.droplevel(0)
msft.head()

             Close   High    Low   Open    Volume
Date
2010-01-01  30.480  30.99  30.48  30.98         0
2010-01-04  30.950  31.10  30.59  30.65  38414185
2010-01-05  30.960  31.10  30.64  30.87  49758862
2010-01-06  30.770  31.08  30.52  30.88  58182332
2010-01-07  30.452  30.70  30.19  30.61  50564285

In [21]:
aapl = prices[prices.index.get_level_values('Symbol').isin(['aapl'])]
aapl.index = aapl.index.droplevel(0)
aapl.head()

              Close     High      Low     Open     Volume
Date
2010-01-01  30.1046  30.4786  30.0800  30.4443          0
2010-01-04  30.5729  30.6429  30.3400  30.5000  123432050
2010-01-05  30.6257  30.7986  30.4643  30.6843  150476004
2010-01-06  30.1386  30.7471  30.1071  30.6257  138039594
2010-01-07  30.0829  30.2857  29.8643  30.2400  119282324

All that operations can be simplified by using `loc` function

In [22]:
prices.loc['aapl'].head()

              Close     High      Low     Open     Volume
Date
2010-01-01  30.1046  30.4786  30.0800  30.4443          0
2010-01-04  30.5729  30.6429  30.3400  30.5000  123432050
2010-01-05  30.6257  30.7986  30.4643  30.6843  150476004
2010-01-06  30.1386  30.7471  30.1071  30.6257  138039594
2010-01-07  30.0829  30.2857  29.8643  30.2400  119282324

## Series

All columns in the previous DataFrame are defined as [_Series_](https://pandas.pydata.org/pandas-docs/stable/dsintro.html#series). A Serie is a data bag indexed by date, in most cases.

In [23]:
data.Close[:2]

Date
2016-07-01    699.210022
2016-06-30    692.099976
Name: Close, dtype: float64

In [24]:
type(data)

pandas.core.frame.DataFrame

In [25]:
type(data.Close)

pandas.core.series.Series

[Series API](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.html#pandas.Series) has multiple methods, but one of the most interesting ones is the `describe` one:

In [26]:
data.Close.describe()

count    2989.000000
mean      545.555584
std       196.002935
min       100.010169
25%       435.110754
50%       537.359985
75%       625.651065
max      1220.172036
Name: Close, dtype: float64

#### Sampling

In [27]:
data.Close.sample(n=3)

Date
2012-02-07    606.771021
2010-05-13    510.880889
2005-05-23    255.450446
Name: Close, dtype: float64

There are two interesting parameters to separate training data from model testing data:
- Use `frac` to get the % of items from the whole set to retrieve
- If you want sets to be consistent between runs, use `random_state`.

In [28]:
data.Close.sample(frac=0.003, random_state=1)

Date
2009-12-17    593.941045
2005-04-21    204.220356
2014-12-24    528.772422
2010-03-03    545.320926
2007-02-07    470.010792
2012-01-27    579.980993
2014-09-30    577.362590
2013-01-17    711.321223
2008-07-08    554.530932
Name: Close, dtype: float64

#### Querying

In [29]:
data[data.Close > 1220]

,Open,High,Low,Close,Volume,Adj Close
Date,,,,,,
2014-02-26,1224.002141,1228.882066,1213.762102,1220.172036,3979100,609.476541
2014-02-25,1215.942121,1224.502055,1210.422109,1220.002089,2888100,609.391653

#### Masking

There's also two functions, `mask` and `where`, that you can use to discard or include values. In this case it's being is used to filter out values greater than 685, and fill the values with -42. If fill value is omited, `NaN` is used instead.

In [30]:
data.Close.where(lambda x: x > 685, -42).head(5)

Date
2016-07-01    699.210022
2016-06-30    692.099976
2016-06-29    -42.000000
2016-06-28    -42.000000
2016-06-27    -42.000000
Name: Close, dtype: float64

 Notice that `mask` and `where` do the opposite:

In [31]:
data.Close.mask(lambda x: x > 685, -42).head(5)

Date
2016-07-01    -42.000000
2016-06-30    -42.000000
2016-06-29    684.109985
2016-06-28    680.039978
2016-06-27    668.260010
Name: Close, dtype: float64

### Reading directly into a series

Instead of reading files as `DataFrames`, it's possible to read a `Series` directly, using column 0 as date, and colum 4 as the `Series` value:

In [32]:
series = pd.read_csv("./data/goog.csv", header=0, index_col=0, squeeze=True, usecols=[0, 4], parse_dates=True)
series.head()

Date
2016-07-01    699.210022
2016-06-30    692.099976
2016-06-29    684.109985
2016-06-28    680.039978
2016-06-27    668.260010
Name: Close, dtype: float64

---
### Exercise 1

Read file `prices.mp` and filter symbol `tsla`. Select 90% of `Close` column for training and reserve 10% for model later checking. Try to randomise data picked.

You may want to check [Pandas Documentation](https://pandas.pydata.org/pandas-docs/stable/).

### Exercise 2

From `prices.csv` file, read `msft` data and write it as a Feather file in `data/msft.feather`.

### Exercise 3

Add a boolean column to previous `msft` data frame indicating if trades open with values greater than 100.

### Exercise 4

Look in Pandas documentation for styling functions and mark in red the `close` values below 30.

---

## Time-Series

Our series can be [resampled](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.resample.html) to months, using mean close price for each one.

- M: Months
- Q: Quarters
- A: Years

The `resample` function just returns an object represeting the resampling. We have to pick one of the many functions to extract the value for each new of the rows generated (months, quarters or year rows).

In [33]:
series = pd.read_csv("./data/goog.csv", header=0, index_col=0, squeeze=True, usecols=[0, 4], parse_dates=True)
series.resample("A")

### Padding

First thing we can do is to get the latest value known in each range, using `pad`:

In [34]:
series['2004-12-31']

Date
2004-12-31    192.790325
Name: Close, dtype: float64

In [35]:
series.resample("A").pad().head()

Date
2004-12-31    192.790325
2005-12-31    414.860723
2006-12-31    460.480804
2007-12-31    691.481171
2008-12-31    307.650529
Freq: A-DEC, Name: Close, dtype: float64

### Computing range mean, min or max values

And we can also get the mean values for each range. Instead of `pad`, use `mean` function:

In [36]:
series["2004"].mean()

151.80153629787233

In [37]:
series.resample("A").mean().head()

Date
2004-12-31    151.801536
2005-12-31    277.759564
2006-12-31    411.186004
2007-12-31    538.751362
2008-12-31    464.852813
Freq: A-DEC, Name: Close, dtype: float64

In [38]:
series.resample("A").max().head()

Date
2004-12-31    197.600333
2005-12-31    432.040752
2006-12-31    509.650860
2007-12-31    741.791259
2008-12-31    685.331181
Freq: A-DEC, Name: Close, dtype: float64

### Ploting resampled series for better understanding

In [39]:
msft.Close.head()

Date
2010-01-01    30.480
2010-01-04    30.950
2010-01-05    30.960
2010-01-06    30.770
2010-01-07    30.452
Name: Close, dtype: float64

In [40]:
%matplotlib inline
%config InlineBackend.figure_format = 'svg'
import matplotlib.pyplot as plt
msft.Close.plot(figsize=(10,5))
msft.Close.resample("M").mean().plot(linewidth=3)
plt.show()

TypeError: Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'Index'

### OHLC: Open, High, Low, Close

A very interesting function is `ohlc`, that computes several values for a date range.

In [ ]:
msft.Close.resample("A").ohlc()

### Custom ranges

Every two years:

In [ ]:
msft.Close.resample("2A").pad().head()

### Upsampling

Apart of grouping data (or _downsampling_) we can also calculate interpolated values. For instence, we're going to calculate values for each quarter, using `"Q"` or `"4M"` parameters.

First we need to get the data downsampled to year values, using latest one.

In [ ]:
msft_year = msft.Close.resample("A").pad()
msft_year

Then we can interpolate some values. Normally you would use `ffill`, optionally setting the maximum number of rows to fill before stopping propagation and filling with `NaN`.

In [ ]:
rs = msft_year.resample("Q")
max_propagated = 2
pd.DataFrame({ 'mean': rs.mean(), 'ffill': rs.ffill(), 'ffill_max': rs.ffill(max_propagated) })[:9]

---

### Exercise 5

Read CSV data for Tesla `tsla` directly into a `Series` and compute _closing_ values for each quarter.

---

## Cookbook

### Combining Series into new DataFrame

In [ ]:
msft_aapl = pd.DataFrame({ 'msft': msft.Close, 'aapl': aapl.Close })
msft_aapl[:3]

By default it uses closed ranges.

### Column projections

In [ ]:
aapl["Year"] = aapl.index.map(lambda d: d.year)
aapl[:2]

### Using custom indexes

In [ ]:
dates = pd.date_range('2015-10', '2016-02', freq='M')
dates

In [ ]:
from pandas import Series
Series(series, index=dates)

### Install packages in Azure Notebooks

Very simple, use `pip` or `conda`:

`!pip install package_name`.